.sticky-div {
  background-color: white;
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  z-index: 100;
  padding-bottom:20px;
}

form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 5px;
}

.label{
  font-size: 24px;
  margin-top: 20px;
}

form input{
  margin-top:20px;
}

form {
  display: inline;
}

.form-control{
  width:85%;
}
button {
  margin-top: 20px;
}

input {
  float:left;
}